.js-part:hover{
    background-color: #E6E6E6;
}
.js-expand-due{
    height: 0;
    opacity: 0;
}
.js-expand-due-click{
    opacity:1;
    height:auto;
}
.measure-row__input-rec-date {
    margin-right: -5px !important;
}
#login-form .splash-label {
    display: block ;
}
body.no-touch .tab-strip__tab {
    margin-left: -5px;
}